<%dynamic a = Arguments; %>@value <%=(bool)a.ntext?"NTEXT":"NVARCHAR(MAX)"%>, @ch BIGINT, @tch BIGINT, @ch1 NCHAR, @ch2 NCHAR, @cursorPos BIGINT, @absi BIGINT, @index INT, @valueEnd INT, @capture NVARCHAR(MAX)<%=(bool)a.lines?", @lc INT, @cc INT, @tabWidth INT":""%>, @newIndex INT OUTPUT, @newCursorPos BIGINT OUTPUT, @newAbsi INT OUTPUT, @newCapture NVARCHAR(MAX) OUTPUT, @newCh BIGINT OUTPUT, @newTch BIGINT OUTPUT, @newCh1 NCHAR OUTPUT, @newCh2 NCHAR OUTPUT<%=(bool)a.lines?", @newLC INT OUTPUT, @newCC INT OUTPUT":""%>