<%dynamic a=Arguments;%>-- <summary>Returns all occurances of the expression indicated by <%=a._symbol%> within <paramref name="value"/></summary>
-- <param name="value">The text to search</param>
-- <param name="position">The logical position in codepoints where the search started. By default assumes the beginning of the stream.</param>
<%
if((bool)a.lines) {%>-- <param name="line">The 1 based line where the matching is assumed to have started. Defaults to 1.</param>
-- <param name="column">The 1 based column where the matching is assumed to have started. Defaults to 1.</param>
-- <param name="tabWidth">The tab width to assume when calculating the tab advance on a column. Defaults to 4.</param>
<%}
%>-- <remarks>The matches contain both the absolute native character position within <paramref name="value"/> and the logical position in UTF32 codepoints for each match. The former is useful for locating the match within a string programmatically while the latter is useful for locating text within a document based on its logical position.</remarks>
