<%@param name="isBlockEnd" type="bool"%><%dynamic a = Arguments;%>IF DATALENGTH(@capture) > 0
BEGIN<%a._indent = ((int)a._indent) + 1;%>
<%a.TableLexerYieldResult(isBlockEnd);
a._indent = ((int)a._indent) - 1;%>END
