<%dynamic a = Arguments;%><%=(bool)a.textreader?"System.IO.TextReader text":"System.Collections.Generic.IEnumerator<char> cursor"%>, System.Text.StringBuilder sb, ref long cursorPos, ref long absi, ref int ch<%=(bool)a.lines?", ref int lc, ref int cc, int tabWidth":""%>