<%@param name="dfa" type="int[]"%>
<%@param name="prlenIndex" type="int"%><%
dynamic a = Arguments;
// WriteCSRangeCharMatchTests is from older code so it doesn't use the template engine
// it could be updated but if it's not broke, don't fix it.
%>if(<%WriteCSRangeCharMatchTests(dfa, prlenIndex, 2, Response);%>) {<%a._indent = ((int)a._indent) + 1;%>
