<%
dynamic a = Arguments;
%>int[] dfa, int[] blockEnd, <%=(bool)a.textreader?"System.IO.TextReader":"System.Collections.Generic.IEnumerable<char>"%> text, long position<%=((bool)a.lines)?", int line, int column, int tabWidth":""%>