<%dynamic a = Arguments;
%>int adv;
var sb = new System.Text.StringBuilder();
<%if(!(bool)a.textreader) { %>var cursor = text.GetEnumerator();
<%}%>int tlen;
int tto;
int prlen;
int pmin;
int pmax;
int i;
int j;
var absoluteIndex = 0L;
var cursorPos = position;
var absi = 0L;<%if((bool)a.lines) {%>
var lc = line;
var cc = column;<%
}%>
int ch;
var state = 0;
bool done;
var acc = -1;
