<%@param name="symbol" type="string"%>
<%@param name="symbolId" type="int"%><%
dynamic a = Arguments;
var be = ((int[][])a._blockEndDfas)[symbolId];
%>foreach(var result in TableMatch(<%=symbol%>DfaStateTable, <%=(be==null||be.Length==0)?"null":symbol+"BlockEndDfaStateTable"%>, text, position<%=((bool)a.lines)?", line, column, tabWidth":""%>)) {
	yield return result;
}
